In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import requests

In [2]:
esg = pd.read_csv('data.csv')

In [3]:
esg.shape

(722, 21)

In [4]:
esg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722 entries, 0 to 721
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ticker                722 non-null    object
 1   name                  722 non-null    object
 2   currency              722 non-null    object
 3   exchange              722 non-null    object
 4   industry              709 non-null    object
 5   logo                  702 non-null    object
 6   weburl                706 non-null    object
 7   environment_grade     722 non-null    object
 8   environment_level     722 non-null    object
 9   social_grade          722 non-null    object
 10  social_level          722 non-null    object
 11  governance_grade      722 non-null    object
 12  governance_level      722 non-null    object
 13  environment_score     722 non-null    int64
 14  social_score          722 non-null    int64
 15  governance_score      722 non-null    int64
 16  total_score           722 non-null    int64
 17  last_processing_date  722 non-null    object
 18  total_grade           722 non-null    object
 19  total_level           722 non-null    object
 20  cik                   722 non-null    int64
dtypes: int64(5), object(16)
memory usage: 118.6+ KB

In [5]:
esg.isna().sum()

ticker                   0
name                     0
currency                 0
exchange                 0
industry                13
logo                    20
weburl                  16
environment_grade        0
environment_level        0
social_grade             0
social_level             0
governance_grade         0
governance_level         0
environment_score        0
social_score             0
governance_score         0
total_score              0
last_processing_date     0
total_grade              0
total_level              0
cik                      0
dtype: int64

In [6]:
esg.head()

,ticker,name,currency,exchange,industry,logo,weburl,environment_grade,environment_level,social_grade,...,governance_grade,governance_level,environment_score,social_score,governance_score,total_score,last_processing_date,total_grade,total_level,cik
0,dis,Walt Disney Co,USD,"NEW YORK STOCK EXCHANGE, INC.",Media,https://static.finnhub.io/logo/ef50b4a2b263c84...,https://thewaltdisneycompany.com/,A,High,BB,...,BB,Medium,510,316,321,1147,19-04-2022,BBB,High,1744489
1,gm,General Motors Co,USD,"NEW YORK STOCK EXCHANGE, INC.",Automobiles,https://static.finnhub.io/logo/9253db78-80c9-1...,https://www.gm.com/,A,High,BB,...,B,Medium,510,303,255,1068,17-04-2022,BBB,High,1467858
2,gww,WW Grainger Inc,USD,"NEW YORK STOCK EXCHANGE, INC.",Trading Companies and Distributors,https://static.finnhub.io/logo/f153dcda-80eb-1...,https://www.grainger.com/,B,Medium,BB,...,B,Medium,255,385,240,880,19-04-2022,BB,Medium,277135
3,mhk,Mohawk Industries Inc,USD,"NEW YORK STOCK EXCHANGE, INC.",Consumer products,https://static.finnhub.io/logo/26868a62-80ec-1...,https://mohawkind.com/,A,High,B,...,BB,Medium,570,298,303,1171,18-04-2022,BBB,High,851968
4,lyv,Live Nation Entertainment Inc,USD,"NEW YORK STOCK EXCHANGE, INC.",Media,https://static.finnhub.io/logo/1cd144d2-80ec-1...,https://www.livenationentertainment.com/,BBB,High,BB,...,B,Medium,492,310,250,1052,18-04-2022,BBB,High,1335258

In [7]:
esg.ticker.nunique()

722

In [8]:
esg['last_processing_date'] = pd.to_datetime(esg['last_processing_date'],dayfirst=True)

In [39]:
!pip install yfinance

Collecting yfinance

[notice] A new release of pip available: 22.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading yfinance-0.2.54-py2.py3-none-any.whl (108 kB)
     -------------------------------------- 108.7/108.7 kB 1.6 MB/s eta 0:00:00
Collecting peewee>=3.16.2
  Downloading peewee-3.17.9.tar.gz (3.0 MB)
     ---------------------------------------- 3.0/3.0 MB 4.4 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: pytz>=2022.5 in c:\users\shushant pc\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (2024.2)
Requirement already satisfied: numpy>=1.16.5 in c:\users\shushant pc\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (2.1.3)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\shushant pc\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (4.3.6)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.4.6-cp310-cp310-win_amd64.whl (37 kB)
Requirement already satisfied: requests>=2.31 in c:\users\shushant pc\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (2.32.3)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\shushant pc\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (2.2.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\shushant pc\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\shushant pc\appdata\local\programs\python\python310\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.6)
Requirement already satisfied: tzdata>=2022.7 in c:\users\shushant pc\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.3.0->yfinance) (2024.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shushant pc\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\shushant pc\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.31->yfinance) (2.2.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shushant pc\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\shushant pc\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.31->yfinance) (3.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shushant pc\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.31->yfinance) (2024.8.30)
Requirement already satisfied: six>=1.5 in c:\users\shushant pc\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.16.0)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.17.9-py3-none-any.whl size=139096 sha256=8aedda9820e34f45330bea23dc3e956a355a9304e7c852d017e1fd9f61fa10f3
  Stored in directory: c:\users\shushant pc\appdata\local\pip\cache\wheels\af\56\87\585f494e912f4c33a5b6c475a48007d54e564ef1db92e24e84
Successfully built peewee
Installing collected packages: peewee, multitasking, frozendict, yfinance
Successfully installed frozendict-2.4.6 multitasking-0.0.11 peewee-3.17.9 yfinance-0.2.54

In [9]:
import yfinance as yf

class DataGathering:
    def __init__(self, df):
        self.df = df
        self.counter = 0
    def get_revenue_data(self, company_ticker):
        ticker = yf.Ticker(company_ticker)
        return ticker.financials

    def get_annual_eps(self,company_ticker,last_processing_date):
        data = self.get_revenue_data(company_ticker)
        self.counter = self.counter + 1
        if(self.counter%50==0):
            print(self.counter)
        try:
            for date in data.columns:
                if(date.year == last_processing_date.year):
                    return float(data[date]['Diluted EPS']), float(data[date]['Gross Profit'])
        except:
            print('Not found for ticker: ',company_ticker)
            return 0.0, 0.0

    def gather_data(self, column):
        self.df[column] = self.df.apply(lambda d: pd.Series(self.get_annual_eps(d['ticker'],d['last_processing_date'])), axis = 1)
        return self.df

In [10]:
gather = DataGathering(esg)
df = gather.gather_data(['annual_eps', 'gross_profit'])

Not found for ticker:  aame
Not found for ticker:  abos
Not found for ticker:  absi
Not found for ticker:  acet
Not found for ticker:  abcb
Not found for ticker:  achl
Not found for ticker:  aciu
Not found for ticker:  achv
Not found for ticker:  acnb
Not found for ticker:  act
Not found for ticker:  adag
Not found for ticker:  acxp
50
Not found for ticker:  adap
Not found for ticker:  adil
Not found for ticker:  acgl
Not found for ticker:  advm
Not found for ticker:  aemd
Not found for ticker:  afmd
Not found for ticker:  afcg
Not found for ticker:  afbi
Not found for ticker:  agnc
Not found for ticker:  aib
100
Not found for ticker:  akro
Not found for ticker:  aktx
Not found for ticker:  aldx
Not found for ticker:  alec
Not found for ticker:  algs
Not found for ticker:  allo
Not found for ticker:  bkng
Not found for ticker:  cinf
150
Not found for ticker:  ntrs
Not found for ticker:  allk
Not found for ticker:  nwsa
Not found for ticker:  pfg
200
Not found for ticker:  zion
Not found for ticker:  afl
Not found for ticker:  aiz
Not found for ticker:  aig
Not found for ticker:  all
Not found for ticker:  amp
250
Not found for ticker:  bac
Not found for ticker:  bk
Not found for ticker:  axp
Not found for ticker:  bx
Not found for ticker:  c
Not found for ticker:  cma
Not found for ticker:  dfs
300
Not found for ticker:  gs
Not found for ticker:  jpm
Not found for ticker:  met
Not found for ticker:  ms
Not found for ticker:  mtb
350
Not found for ticker:  pgr
Not found for ticker:  pnc
Not found for ticker:  pru
Not found for ticker:  rjf
Not found for ticker:  rf
Not found for ticker:  schw
Not found for ticker:  syf
Not found for ticker:  stt
Not found for ticker:  hig
Not found for ticker:  tfc
400
Not found for ticker:  trv
Not found for ticker:  usb
Not found for ticker:  wfc
Not found for ticker:  wrb
450
Not found for ticker:  cof
Not found for ticker:  cfg
Not found for ticker:  ci
Not found for ticker:  lnc
Not found for ticker:  l
500
Not found for ticker:  fitb
Not found for ticker:  foxa
Not found for ticker:  hban
Not found for ticker:  gl
550
Not found for ticker:  hum
Not found for ticker:  trtx
Not found for ticker:  zyme
Not found for ticker:  pmcb
Not found for ticker:  xyf
600
Not found for ticker:  mtem
Not found for ticker:  hall
Not found for ticker:  mvbf
Not found for ticker:  myfw
Not found for ticker:  hafc
Not found for ticker:  clst
Not found for ticker:  hbcp
Not found for ticker:  hbnc
Not found for ticker:  hbt
650
Not found for ticker:  pnbk
Not found for ticker:  pnfp
Not found for ticker:  ppbi
Not found for ticker:  prax
Not found for ticker:  usau
Not found for ticker:  uvsp
Not found for ticker:  cnf
700
Not found for ticker:  cno
Not found for ticker:  cna
Not found for ticker:  hasi
Not found for ticker:  hci

In [13]:
df.head()

,ticker,name,currency,exchange,industry,logo,weburl,environment_grade,environment_level,social_grade,...,environment_score,social_score,governance_score,total_score,last_processing_date,total_grade,total_level,cik,annual_eps,gross_profit
0,dis,Walt Disney Co,USD,"NEW YORK STOCK EXCHANGE, INC.",Media,https://static.finnhub.io/logo/ef50b4a2b263c84...,https://thewaltdisneycompany.com/,A,High,BB,...,510,316,321,1147,2022-04-19,BBB,High,1744489,1.72,2.832100e+10
1,gm,General Motors Co,USD,"NEW YORK STOCK EXCHANGE, INC.",Automobiles,https://static.finnhub.io/logo/9253db78-80c9-1...,https://www.gm.com/,A,High,BB,...,510,303,255,1068,2022-04-17,BBB,High,1467858,6.13,2.098100e+10
2,gww,WW Grainger Inc,USD,"NEW YORK STOCK EXCHANGE, INC.",Trading Companies and Distributors,https://static.finnhub.io/logo/f153dcda-80eb-1...,https://www.grainger.com/,B,Medium,BB,...,255,385,240,880,2022-04-19,BB,Medium,277135,30.06,5.849000e+09
3,mhk,Mohawk Industries Inc,USD,"NEW YORK STOCK EXCHANGE, INC.",Consumer products,https://static.finnhub.io/logo/26868a62-80ec-1...,https://mohawkind.com/,A,High,B,...,570,298,303,1171,2022-04-18,BBB,High,851968,0.39,2.943400e+09
4,lyv,Live Nation Entertainment Inc,USD,"NEW YORK STOCK EXCHANGE, INC.",Media,https://static.finnhub.io/logo/1cd144d2-80ec-1...,https://www.livenationentertainment.com/,BBB,High,BB,...,492,310,250,1052,2022-04-18,BBB,High,1335258,0.64,4.343730e+09

In [12]:
df.isna().sum()

ticker                   0
name                     0
currency                 0
exchange                 0
industry                13
logo                    20
weburl                  16
environment_grade        0
environment_level        0
social_grade             0
social_level             0
governance_grade         0
governance_level         0
environment_score        0
social_score             0
governance_score         0
total_score              0
last_processing_date     0
total_grade              0
total_level              0
cik                      0
annual_eps              83
gross_profit            84
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722 entries, 0 to 721
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ticker                722 non-null    object
 1   name                  722 non-null    object
 2   currency              722 non-null    object
 3   exchange              722 non-null    object
 4   industry              709 non-null    object
 5   logo                  702 non-null    object
 6   weburl                706 non-null    object
 7   environment_grade     722 non-null    object
 8   environment_level     722 non-null    object
 9   social_grade          722 non-null    object
 10  social_level          722 non-null    object
 11  governance_grade      722 non-null    object
 12  governance_level      722 non-null    object
 13  environment_score     722 non-null    int64
 14  social_score          722 non-null    int64
 15  governance_score      722 non-null    int64
 16  total_score           722 non-null    int64
 17  last_processing_date  722 non-null    datetime64[ns]
 18  total_grade           722 non-null    object
 19  total_level           722 non-null    object
 20  cik                   722 non-null    int64
 21  annual_eps            639 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(15)
memory usage: 124.2+ KB

In [14]:
df.dropna(subset=['annual_eps','gross_profit'], inplace = True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 638 entries, 0 to 721
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ticker                638 non-null    object
 1   name                  638 non-null    object
 2   currency              638 non-null    object
 3   exchange              638 non-null    object
 4   industry              635 non-null    object
 5   logo                  626 non-null    object
 6   weburl                629 non-null    object
 7   environment_grade     638 non-null    object
 8   environment_level     638 non-null    object
 9   social_grade          638 non-null    object
 10  social_level          638 non-null    object
 11  governance_grade      638 non-null    object
 12  governance_level      638 non-null    object
 13  environment_score     638 non-null    int64
 14  social_score          638 non-null    int64
 15  governance_score      638 non-null    int64
 16  total_score           638 non-null    int64
 17  last_processing_date  638 non-null    datetime64[ns]
 18  total_grade           638 non-null    object
 19  total_level           638 non-null    object
 20  cik                   638 non-null    int64
 21  annual_eps            638 non-null    float64
 22  gross_profit          638 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(5), object(15)
memory usage: 119.6+ KB

In [16]:
df.to_csv('esd_eps_data.csv', index = False)

In [ ]:
import yfinance as yf
ticker = yf.Ticker('gs')
ticker.financials

In [4]:
dat = yf.Ticker("MSFT")

In [5]:
dat.info

{'address1': 'One Microsoft Way',
 'city': 'Redmond',
 'state': 'WA',
 'zip': '98052-6399',
 'country': 'United States',
 'phone': '425 882 8080',
 'website': 'https://www.microsoft.com',
 'industry': 'Software - Infrastructure',
 'industryKey': 'software-infrastructure',
 'industryDisp': 'Software - Infrastructure',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Microsoft Corporation develops and supports software, services, devices and solutions worldwide. The Productivity and Business Processes segment offers office, exchange, SharePoint, Microsoft Teams, office 365 Security and Compliance, Microsoft viva, and Microsoft 365 copilot; and office consumer services, such as Microsoft 365 consumer subscriptions, Office licensed on-premises, and other office services. This segment also provides LinkedIn; and dynamics business solutions, including Dynamics 365, a set of intelligent, cloud-based applications across ERP, CRM, power apps, and power automate; and on-premises ERP and CRM applications. The Intelligent Cloud segment offers server products and cloud services, such as azure and other cloud services; SQL and windows server, visual studio, system center, and related client access licenses, as well as nuance and GitHub; and enterprise services including enterprise support services, industry solutions, and nuance professional services. The More Personal Computing segment offers Windows, including windows OEM licensing and other non-volume licensing of the Windows operating system; Windows commercial comprising volume licensing of the Windows operating system, windows cloud services, and other Windows commercial offerings; patent licensing; and windows Internet of Things; and devices, such as surface, HoloLens, and PC accessories. Additionally, this segment provides gaming, which includes Xbox hardware and content, and first- and third-party content; Xbox game pass and other subscriptions, cloud gaming, advertising, third-party disc royalties, and other cloud services; and search and news advertising, which includes Bing, Microsoft News and Edge, and third-party affiliates. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online, and retail stores. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'fullTimeEmployees': 228000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Satya  Nadella',
   'age': 57,
   'title': 'Chairman & CEO',
   'yearBorn': 1967,
   'fiscalYear': 2024,
   'totalPay': 7869791,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Bradford L. Smith LCA',
   'age': 65,
   'title': 'President & Vice Chairman',
   'yearBorn': 1959,
   'fiscalYear': 2024,
   'totalPay': 4755618,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Amy E. Hood',
   'age': 52,
   'title': 'Executive VP & CFO',
   'yearBorn': 1972,
   'fiscalYear': 2024,
   'totalPay': 4704250,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Judson B. Althoff',
   'age': 51,
   'title': 'Executive VP & Chief Commercial Officer',
   'yearBorn': 1973,
   'fiscalYear': 2024,
   'totalPay': 4534974,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christopher David Young',
   'age': 52,
   'title': 'Executive Officer',
   'yearBorn': 1972,
   'fiscalYear': 2024,
   'totalPay': 2993772,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Carolina  Dybeck Happe',
   'age': 52,
   'title': 'Executive VP & COO',
   'yearBorn': 1972,
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Alice L. Jolla',
   'age': 58,
   'title': 'Corporate VP & Chief Accounting Officer',
   'yearBorn': 1966,
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James Kevin Scott',
   'age': 52,
   'title': 'Executive VP of AI & CTO',
   'yearBorn': 1972,
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Brett  Iversen',
   'title': 'Vice President of Investor Relations',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Hossein  Nowbar',
   'title': 'Chief Legal Officer',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 9,
 'boardRisk': 5,
 'compensationRisk': 3,
 'shareHolderRightsRisk': 2,
 'overallRisk': 3,
 'governanceEpochDate': 1738368000,
 'compensationAsOfEpochDate': 1735603200,
 'irWebsite': 'http://www.microsoft.com/investor/default.aspx',
 'executiveTeam': [],
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 416.13,
 'open': 417.335,
 'dayLow': 407.89,
 'dayHigh': 418.048,
 'regularMarketPreviousClose': 416.13,
 'regularMarketOpen': 417.335,
 'regularMarketDayLow': 407.89,
 'regularMarketDayHigh': 418.048,
 'dividendRate': 3.32,
 'dividendYield': 0.81,
 'exDividendDate': 1740009600,
 'payoutRatio': 0.2482,
 'fiveYearAvgDividendYield': 0.86,
 'beta': 0.895,
 'trailingPE': 32.893635,
 'forwardPE': 27.305016,
 'volume': 26086127,
 'regularMarketVolume': 26086127,
 'averageVolume': 21884211,
 'averageVolume10days': 22411140,
 'averageDailyVolume10Day': 22411140,
 'bid': 408.23,
 'ask': 408.39,
 'bidSize': 2,
 'askSize': 2,
 'marketCap': 3034624819200,
 'fiftyTwoWeekLow': 385.58,
 'fiftyTwoWeekHigh': 468.35,
 'priceToSalesTrailing12Months': 11.591297,
 'fiftyDayAverage': 427.4482,
 'twoHundredDayAverage': 426.3198,
 'trailingAnnualDividendRate': 3.16,
 'trailingAnnualDividendYield': 0.0075937808,
 'currency': 'USD',
 'tradeable': False,
 'enterpriseValue': 3065979863040,
 'profitMargins': 0.35428002,
 'floatShares': 7423500320,
 'sharesOutstanding': 7433979904,
 'sharesShort': 62492832,
 'sharesShortPriorMonth': 62178630,
 'sharesShortPreviousMonthDate': 1735603200,
 'dateShortInterest': 1738281600,
 'sharesPercentSharesOut': 0.0084,
 'heldPercentInsiders': 0.00311,
 'heldPercentInstitutions': 0.74276,
 'shortRatio': 2.76,
 'shortPercentOfFloat': 0.0084,
 'impliedSharesOutstanding': 7433979904,
 'bookValue': 40.712,
 'priceToBook': 10.0267725,
 'lastFiscalYearEnd': 1719705600,
 'nextFiscalYearEnd': 1751241600,
 'mostRecentQuarter': 1735603200,
 'earningsQuarterlyGrowth': 0.102,
 'netIncomeToCommon': 92749996032,
 'trailingEps': 12.41,
 'forwardEps': 14.95,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 1045526400,
 'enterpriseToRevenue': 11.711,
 'enterpriseToEbitda': 21.585,
 '52WeekChange': 0.0016440153,
 'SandP52WeekChange': 0.1861316,
 'lastDividendValue': 0.83,
 'lastDividendDate': 1732147200,
 'quoteType': 'EQUITY',
 'currentPrice': 408.21,
 'targetHighPrice': 650.0,
 'targetLowPrice': 420.0,
 'targetMeanPrice': 508.051,
 'targetMedianPrice': 500.0,
 'recommendationMean': 1.40351,
 'recommendationKey': 'strong_buy',
 'numberOfAnalystOpinions': 50,
 'totalCash': 71554998272,
 'totalCashPerShare': 9.625,
 'ebitda': 142041006080,
 'totalDebt': 102909001728,
 'quickRatio': 1.204,
 'currentRatio': 1.351,
 'totalRevenue': 261802000384,
 'debtToEquity': 33.998,
 'revenuePerShare': 35.224,
 'returnOnAssets': 0.14649001,
 'returnOnEquity': 0.34291,
 'grossProfits': 181714993152,
 'freeCashflow': 51958124544,
 'operatingCashflow': 125582999552,
 'earningsGrowth': 0.102,
 'revenueGrowth': 0.123,
 'grossMargins': 0.69408995,
 'ebitdaMargins': 0.54255,
 'operatingMargins': 0.45458,
 'financialCurrency': 'USD',
 'symbol': 'MSFT',
 'language': 'en-US',
 'region': 'US',
 'typeDisp': 'Equity',
 'quoteSourceName': 'Nasdaq Real Time Price',
 'triggerable': True,
 'customPriceAlertConfidence': 'HIGH',
 'marketState': 'CLOSED',
 'corporateActions': [],
 'postMarketTime': 1740185999,
 'regularMarketTime': 1740171601,
 'exchange': 'NMS',
 'messageBoardId': 'finmb_21835',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'gmtOffSetMilliseconds': -18000000,
 'market': 'us_market',
 'esgPopulated': False,
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'regularMarketChangePercent': -1.9032545,
 'regularMarketPrice': 408.21,
 'hasPrePostMarketData': True,
 'firstTradeDateMilliseconds': 511108200000,
 'postMarketChangePercent': -0.0465453,
 'postMarketPrice': 408.02,
 'postMarketChange': -0.190002,
 'regularMarketChange': -7.9200134,
 'regularMarketDayRange': '407.89 - 418.048',
 'fullExchangeName': 'NasdaqGS',
 'averageDailyVolume3Month': 21884211,
 'fiftyTwoWeekLowChange': 22.630005,
 'fiftyTwoWeekLowChangePercent': 0.05869082,
 'fiftyTwoWeekRange': '385.58 - 468.35',
 'fiftyTwoWeekHighChange': -60.140015,
 'fiftyTwoWeekHighChangePercent': -0.12840827,
 'fiftyTwoWeekChangePercent': 0.16440153,
 'dividendDate': 1741824000,
 'earningsTimestamp': 1738184400,
 'earningsTimestampStart': 1745438400,
 'earningsTimestampEnd': 1745870400,
 'earningsCallTimestampStart': 1738189800,
 'earningsCallTimestampEnd': 1738189800,
 'isEarningsDateEstimate': True,
 'epsTrailingTwelveMonths': 12.41,
 'epsForward': 14.95,
 'epsCurrentYear': 13.18475,
 'priceEpsCurrentYear': 30.96077,
 'fiftyDayAverageChange': -19.23822,
 'fiftyDayAverageChangePercent': -0.045007136,
 'twoHundredDayAverageChange': -18.109802,
 'twoHundredDayAverageChangePercent': -0.042479385,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 0,
 'averageAnalystRating': '1.4 - Strong Buy',
 'cryptoTradeable': False,
 'displayName': 'Microsoft',
 'trailingPegRatio': 2.1278}

In [6]:
dat.calendar

{'Dividend Date': datetime.date(2025, 3, 12),
 'Ex-Dividend Date': datetime.date(2025, 2, 19),
 'Earnings Date': [datetime.date(2025, 4, 23), datetime.date(2025, 4, 28)],
 'Earnings High': 3.56,
 'Earnings Low': 3.16,
 'Earnings Average': 3.22615,
 'Revenue High': 69897682310,
 'Revenue Low': 67140000000,
 'Revenue Average': 68534440260}

In [11]:
dat.analyst_price_targets

{'current': 408.21,
 'high': 650.0,
 'low': 420.0,
 'mean': 508.051,
 'median': 500.0}

In [13]:
dat.quarterly_income_stmt

,2024-12-31,2024-09-30,2024-06-30,2024-03-31,2023-12-31
Tax Effect Of Unusual Items,-203220000.0,57190000.0,-16263853.211009,-33660000.0,-29160000.0
Tax Rate For Calcs,0.18,0.19,0.191339,0.18,0.18
Normalized EBITDA,37915000000.0,37933000000.0,34416000000.0,33741000000.0,33556000000.0
Total Unusual Items,-1129000000.0,301000000.0,-85000000.0,-187000000.0,-162000000.0
Total Unusual Items Excluding Goodwill,-1129000000.0,301000000.0,-85000000.0,-187000000.0,-162000000.0
Net Income From Continuing Operation Net Minority Interest,24108000000.0,24667000000.0,22036000000.0,21939000000.0,21870000000.0
Reconciled Depreciation,6827000000.0,7383000000.0,6380000000.0,6027000000.0,5959000000.0
Reconciled Cost Of Revenue,21799000000.0,20099000000.0,19684000000.0,18505000000.0,19623000000.0
EBITDA,36786000000.0,38234000000.0,34331000000.0,33554000000.0,33394000000.0
EBIT,29959000000.0,30851000000.0,27951000000.0,27527000000.0,27435000000.0
Net Interest Income,6000000.0,99000000.0,-63000000.0,-181000000.0,-175000000.0
Interest Expense,594000000.0,582000000.0,701000000.0,800000000.0,909000000.0
Interest Income,600000000.0,681000000.0,638000000.0,619000000.0,734000000.0
Normalized Income,25033780000.0,24423190000.0,22104736146.78899,22092340000.0,22002840000.0
Net Income From Continuing And Discontinued Operation,24108000000.0,24667000000.0,22036000000.0,21939000000.0,21870000000.0
Total Expenses,37979000000.0,35033000000.0,36802000000.0,34277000000.0,34988000000.0
Total Operating Income As Reported,31653000000.0,30552000000.0,27925000000.0,27581000000.0,27032000000.0
Diluted Average Shares,7468000000.0,7470000000.0,7472000000.0,7472000000.0,7468000000.0
Basic Average Shares,7435000000.0,7433000000.0,7433000000.0,7431000000.0,7432000000.0
Diluted EPS,3.23,3.3,2.95,2.94,2.93
Basic EPS,3.24,3.32,2.96,2.95,2.94
Diluted NI Availto Com Stockholders,24108000000.0,24667000000.0,22036000000.0,21939000000.0,21870000000.0
Net Income Common Stockholders,24108000000.0,24667000000.0,22036000000.0,21939000000.0,21870000000.0
Net Income,24108000000.0,24667000000.0,22036000000.0,21939000000.0,21870000000.0
Net Income Including Noncontrolling Interests,24108000000.0,24667000000.0,22036000000.0,21939000000.0,21870000000.0
Net Income Continuous Operations,24108000000.0,24667000000.0,22036000000.0,21939000000.0,21870000000.0
Tax Provision,5257000000.0,5602000000.0,5214000000.0,4788000000.0,4656000000.0
Pretax Income,29365000000.0,30269000000.0,27250000000.0,26727000000.0,26526000000.0
Other Income Expense,-2294000000.0,-382000000.0,-612000000.0,-673000000.0,-331000000.0
Other Non Operating Income Expenses,-1165000000.0,-683000000.0,-527000000.0,-486000000.0,-169000000.0
Special Income Charges,-867000000.0,-7000000.0,-22000000.0,-17000000.0,-161000000.0
Write Off,867000000.0,7000000.0,22000000.0,17000000.0,161000000.0
Gain On Sale Of Security,-262000000.0,308000000.0,-63000000.0,-170000000.0,-1000000.0
Net Non Operating Interest Income Expense,6000000.0,99000000.0,-63000000.0,-181000000.0,-175000000.0
Interest Expense Non Operating,594000000.0,582000000.0,701000000.0,800000000.0,909000000.0
Interest Income Non Operating,600000000.0,681000000.0,638000000.0,619000000.0,734000000.0
Operating Income,31653000000.0,30552000000.0,27925000000.0,27581000000.0,27032000000.0
Operating Expense,16180000000.0,14934000000.0,17118000000.0,15772000000.0,15365000000.0
Research And Development,7917000000.0,7544000000.0,8056000000.0,7653000000.0,7142000000.0
Selling General And Administration,8263000000.0,7390000000.0,9062000000.0,8119000000.0,8223000000.0
Selling And Marketing Expense,6440000000.0,5717000000.0,6816000000.0,6207000000.0,6246000000.0
General And Administrative Expense,1823000000.0,1673000000.0,2246000000.0,1912000000.0,1977000000.0
Other Gand A,1823000000.0,1673000000.0,2246000000.0,1912000000.0,1977000000.0
Gross Profit,47833000000.0,45486000000.0,45043000000.0,43353000000.0,42397000000.0
Cost Of Revenue,21799000000.0,20099000000.0,19684000000.0,18505000000.0,19623000000.0
Total Revenue,69632000000.0,65585000000.0,64727000000.0,61858000000.0,62020000000.0
Operating Revenue,69632000000.0,65585000000.0,64727000000.0,61858000000.0,62020000000.0

In [17]:
dat.income_stmt

,2024-06-30,2023-06-30,2022-06-30,2021-06-30
Tax Effect Of Unusual Items,-99918000.0,-2850000.0,43754000.0,180160797.164637
Tax Rate For Calcs,0.182,0.19,0.131,0.138266
Normalized EBITDA,133558000000.0,105155000000.0,99905000000.0,83831000000.0
Total Unusual Items,-549000000.0,-15000000.0,334000000.0,1303000000.0
Total Unusual Items Excluding Goodwill,-549000000.0,-15000000.0,334000000.0,1303000000.0
Net Income From Continuing Operation Net Minority Interest,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Reconciled Depreciation,22287000000.0,13861000000.0,14460000000.0,11686000000.0
Reconciled Cost Of Revenue,74114000000.0,65863000000.0,62650000000.0,52232000000.0
EBITDA,133009000000.0,105140000000.0,100239000000.0,85134000000.0
EBIT,110722000000.0,91279000000.0,85779000000.0,73448000000.0
Net Interest Income,222000000.0,1026000000.0,31000000.0,-215000000.0
Interest Expense,2935000000.0,1968000000.0,2063000000.0,2346000000.0
Interest Income,3157000000.0,2994000000.0,2094000000.0,2131000000.0
Normalized Income,88585082000.0,72373150000.0,72447754000.0,60148160797.164635
Net Income From Continuing And Discontinued Operation,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Total Expenses,135689000000.0,123392000000.0,114887000000.0,98172000000.0
Total Operating Income As Reported,109433000000.0,88523000000.0,83383000000.0,69916000000.0
Diluted Average Shares,7469000000.0,7472000000.0,7540000000.0,7608000000.0
Basic Average Shares,7431000000.0,7446000000.0,7496000000.0,7547000000.0
Diluted EPS,11.8,9.68,9.65,8.05
Basic EPS,11.86,9.72,9.7,8.12
Diluted NI Availto Com Stockholders,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Net Income Common Stockholders,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Net Income,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Net Income Including Noncontrolling Interests,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Net Income Continuous Operations,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Tax Provision,19651000000.0,16950000000.0,10978000000.0,9831000000.0
Pretax Income,107787000000.0,89311000000.0,83716000000.0,71102000000.0
Other Income Expense,-1868000000.0,-238000000.0,302000000.0,1401000000.0
Other Non Operating Income Expenses,-1319000000.0,-223000000.0,-32000000.0,98000000.0
Special Income Charges,-206000000.0,-30000000.0,-101000000.0,-13000000.0
Write Off,206000000.0,30000000.0,101000000.0,13000000.0
Gain On Sale Of Security,-343000000.0,15000000.0,435000000.0,1316000000.0
Net Non Operating Interest Income Expense,222000000.0,1026000000.0,31000000.0,-215000000.0
Interest Expense Non Operating,2935000000.0,1968000000.0,2063000000.0,2346000000.0
Interest Income Non Operating,3157000000.0,2994000000.0,2094000000.0,2131000000.0
Operating Income,109433000000.0,88523000000.0,83383000000.0,69916000000.0
Operating Expense,61575000000.0,57529000000.0,52237000000.0,45940000000.0
Research And Development,29510000000.0,27195000000.0,24512000000.0,20716000000.0
Selling General And Administration,32065000000.0,30334000000.0,27725000000.0,25224000000.0
Selling And Marketing Expense,24456000000.0,22759000000.0,21825000000.0,20117000000.0
General And Administrative Expense,7609000000.0,7575000000.0,5900000000.0,5107000000.0
Other Gand A,7609000000.0,7575000000.0,5900000000.0,5107000000.0
Gross Profit,171008000000.0,146052000000.0,135620000000.0,115856000000.0
Cost Of Revenue,74114000000.0,65863000000.0,62650000000.0,52232000000.0
Total Revenue,245122000000.0,211915000000.0,198270000000.0,168088000000.0
Operating Revenue,245122000000.0,211915000000.0,198270000000.0,168088000000.0

In [14]:
dat.history(period='1mo')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-01-22 00:00:00-05:00,437.559998,447.269989,436.000000,446.200012,27803800,0.0,0.0
2025-01-23 00:00:00-05:00,442.000000,446.750000,441.500000,446.709991,18389300,0.0,0.0
2025-01-24 00:00:00-05:00,445.160004,446.649994,441.399994,444.059998,15549500,0.0,0.0
2025-01-27 00:00:00-05:00,424.010010,435.200012,423.500000,434.559998,35647800,0.0,0.0
2025-01-28 00:00:00-05:00,434.600006,448.380005,431.380005,447.200012,23491700,0.0,0.0
2025-01-29 00:00:00-05:00,446.690002,446.880005,440.399994,442.329987,23581400,0.0,0.0
2025-01-30 00:00:00-05:00,418.769989,422.859985,413.160004,414.989990,54586300,0.0,0.0
2025-01-31 00:00:00-05:00,418.980011,420.690002,414.910004,415.059998,34223400,0.0,0.0
2025-02-03 00:00:00-05:00,411.600006,415.410004,408.660004,410.920013,25679100,0.0,0.0
2025-02-04 00:00:00-05:00,412.690002,413.920013,409.739990,412.369995,20532100,0.0,0.0
2025-02-05 00:00:00-05:00,412.350006,413.829987,410.399994,413.290009,16316700,0.0,0.0
2025-02-06 00:00:00-05:00,414.000000,418.200012,414.000000,415.820007,16309800,0.0,0.0
2025-02-07 00:00:00-05:00,416.480011,418.649994,408.100006,409.750000,22886800,0.0,0.0
2025-02-10 00:00:00-05:00,413.709991,415.459991,410.920013,412.220001,20817900,0.0,0.0
2025-02-11 00:00:00-05:00,409.640015,412.489990,409.299988,411.440002,18140600,0.0,0.0
2025-02-12 00:00:00-05:00,407.209991,410.750000,404.369995,409.040009,19121700,0.0,0.0
2025-02-13 00:00:00-05:00,407.000000,411.000000,406.359985,410.540009,23891700,0.0,0.0
2025-02-14 00:00:00-05:00,407.790009,408.910004,405.880005,408.429993,22758500,0.0,0.0
2025-02-18 00:00:00-05:00,408.000000,410.600006,406.500000,409.640015,21423100,0.0,0.0
2025-02-19 00:00:00-05:00,407.880005,415.489990,407.649994,414.769989,24114200,0.0,0.0
2025-02-20 00:00:00-05:00,415.290009,419.309998,412.540009,416.130005,23508700,0.0,0.0
2025-02-21 00:00:00-05:00,417.339996,418.049988,407.890015,408.209991,27448200,0.0,0.0